@font-face {
  font-family: 'Bossa';
  src: url('Bossa-Black.woff2') format('woff2'),
    url('Bossa-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bossa';
  src: url('Bossa-Regular.woff2') format('woff2'),
    url('Bossa-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bossa';
  src: url('Bossa-Light.woff2') format('woff2'),
    url('Bossa-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bossa';
  src: url('Bossa-Medium.woff2') format('woff2'),
    url('Bossa-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bossa';
  src: url('Bossa-Bold.woff2') format('woff2'),
    url('Bossa-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UniversalSans';
  src: url('UniversalSans-Italic.woff2') format('woff2'),
    url('UniversalSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'UniversalSans';
  src: url('UniversalSans-Regular.woff2') format('woff2'),
    url('UniversalSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
